
.search-button-mobile, .menu-button {
  height: 100%;
}

.search-button-mobile:hover, .menu-button:hover {
  background: #fff;
  color: #872708;
}

.searchbar-mobile {
  cursor: pointer;
}

.search-button-mobile-toggle {
  cursor: pointer;
  background: transparent;
  color: white;
}
.search-button-mobile-submit {
  cursor: pointer;
  background: transparent;
  color: white;
}
.searchbar-mobile-text {
  border-radius: 25px 0 0 25px;
  vertical-align: middle;
  width: 100%;
  outline-width: 0;
  font-size: 110%;
  display: block;
}

.searchbar {
  display: none;
}

.search-text {
  display: none;
}

.search-text-mobile {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: FontAwesome, "Open Sans", sans-serif;
  font-size: 100%;
  border: solid 1px #ccc;
  outline: none;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  padding: 9px 10px 9px 16px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  width: 25%;
  cursor: pointer;
}
input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}
.search-text-mobile:focus {
  width: 90%;
  background-color: #fff;
  color: black;
  cursor: auto;
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}


@media only screen and (min-width: 600px) {

  .search-button-desktop {
    border: none;
    border-radius: 0 25px 25px 0;
    background: white;
    padding: 0.6em;
    color: #a6a6a6;
    vertical-align: middle;
    outline-width: 0;
    font-size: 110%;
    cursor: pointer;
  }

  .search-text {
    border-radius: 25px 0 0 25px;
    border: none;
    padding: 0.6em;
    vertical-align: middle;
    width: 100%;
    outline-width: 0;
    font-size: 110%;
    display: block;
  }

  .searchbar {
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    align-self: center;
    justify-self: center;
  }

  .searchbar-mobile {
    display: none;
  }
}
