<div class="input-group content-box password-reset-form">
  <input class="input-field" id="passwordInput" type="password" [(ngModel)]="newPassword" placeholder="Password"/>
  <p *ngIf="!passwordsAreTheSame" class="error">The two passwords are different</p>
  <input class="input-field" id="confirmPasswordInput" type="password" [(ngModel)]="newPasswordConfirmation" placeholder="Confirm Password"/>
  <button class="buttons input-button center-button" (click)="sendPasswordReset()" [disabled]="!formIsValid()"> Reset password</button>
  <button class="buttons input-button center-button" routerLink="/account/login" *ngIf="passwordReset">Go Sign In!</button>
  <span>{{feedbackMessage}}</span>
</div>
