<footer class="mobile-navmenu" #navMenu>
    <ul class="mobile-nav-list">
      <li class="mobile-nav-item"><a class="mobile-nav-link nav-videos" routerLink="/"><i class="fa fa-play"></i></a></li>
      <li class="mobile-nav-item"><a class="mobile-nav-link nav-podcasts" routerLink="/podcast"><i class="fa fa-microphone"></i></a></li>
      <li class="mobile-nav-item"><a class="mobile-nav-link nav-creators" routerLink="/creators"><i class="fa fa-users"></i></a></li>
      <li class="mobile-nav-item"><a class="mobile-nav-link nav-profile" routerLink="/account/edit"><i class="fa fa-user-circle"></i></a>
      </li>
    </ul>
  </footer>
