<div class="content-box">
    <div class="input-group password-reset" *ngIf="!emailRequestSent">
        <label class="password-text" for="emailInput">
            Enter the email associated with your account, and we'll send you a reset link!
        </label>
        <input class="password-input input-field" id="emailInput" [(ngModel)]="email" type="email"/>
        <button class="input-button center-button password-button" (click)="sendRequest()" [disabled]="!formIsValid()">Send Email</button>
    </div>
    <div *ngIf="emailRequestSent">
        <p>{{serverResponseMessage}}</p>
    </div>
</div>