<div class="store-container">
  <div class="store">
    <div class='teespring store-box'>
      <h2>Buy Our Shirts!</h2>
      <a class="teespring-link" href="https://teespring.com/stores/door-monster-shop"></a>
    </div>
    <div class='album store-box'>
      <h2>Buy Our Album!</h2>
      <a href="https://itunes.apple.com/us/album/white-lightning-hq/id1182023169" class="store-itunes"></a>
      <a href="https://open.spotify.com/album/7foYz30ALWmL7niqsrLVeV" class="store-spotify"></a>
      <a href="http://www.amazon.com/gp/product/B01NBHMCPM" class="store-amazon"></a>
      <a href="https://play.google.com/store/music/album/JP_De_Ovando_White_Lightning_HQ?id=Bfi5naskgfmhputxsemila74cn4" class="store-google"></a>
    </div>
    <div class='dftba store-box'>
      <h2>Buy Other Stuff!</h2>
      <a class="dftba-link" href="https://store.dftba.com/collections/door-monster"></a>
    </div>
  </div>
</div>