<div class="password-edit-section">
  <h2>Change Password</h2>
  <input [(ngModel)]="oldPassword" class="input-field" id="oldPasswordInput" placeholder="Old Password"
         type="password"/>
  <input [(ngModel)]="newPassword" class="input-field" id="passwordInput" placeholder="New Password"
         type="password"/>
  <p *ngIf="!passwordsAreTheSame">The two passwords are different</p>
  <input (change)="validatePasswordForm()" [(ngModel)]="newPasswordConfirmation" class="input-field"
         id="confirmPasswordInput"
         placeholder="Confirm New Password" type="password"/>
  <p *ngIf="passwordUpdateRequestSent && passwordUpdateSuccessful" class="success_field">Password udpated!</p>
  <p *ngIf="passwordUpdateRequestSent && !passwordUpdateSuccessful" class="error_field">Password update failed</p>
  <button (click)="sendPasswordUpdate()" [disabled]="!passwordFormIsValid"
          class="input-button center-button reset-password-button">Reset Password
  </button>
</div>
