<div class="media podcast-series-header" *ngIf="podcast">
  <figure class="media-left image is-128x128">
    <img
      [src]="'https://s3.amazonaws.com/doormonster/assets/images/'+  podcast.thumbnailPath"/>
  </figure>
  <div class="media-content content">
    <h1 class="title is-4">{{podcast.podcastTitle}} </h1>
    <div [innerHTML]="podcast.podcastSummary">
    </div>
  </div>
</div>
<div class="container">
  <div *ngFor="let episode of episodes">
    <div class="media">
      <figure class="media-left image is-128x128 hover-cursor-pointer" (click)="choosePodcast(episode)">
        <img
          [src]="'https://s3.amazonaws.com/doormonster/assets/images/podcasts/' + episode.episodeThumbnail"/>
      </figure>
      <div class="media-content hover-cursor-pointer " (click)="choosePodcast(episode)">
        <div class="content">
          <p class=""><strong>Episode {{episode.episodeNum}}: {{episode.episodeName}}</strong></p>
          <i>{{episode.episodePublishDate}}</i>
          <div [innerHTML]="episode.episodeDescription">
          </div>
        </div>
      </div>
      <div class="media-right" (click)="showComments(episode.episodeID)">Show Comments</div>
    </div>
    <div *ngIf="isShowingComments(episode.episodeID)">
      <app-comments [isComponent]="true"  [mediaId]="episode.episodeID.toString()"></app-comments>
    </div>
    <hr>
  </div>
</div>
