<div class="stream-embed">
    <div class="stream-container">
        <div class="stream-responsive">
            <iframe
                src="https://player.twitch.tv/?channel=DoorMonsterTV&parent=www.doormonster.tv"
                height="720"
                width="1280"
                frameborder="0"
                scrolling="no"
                allowfullscreen="true">
            </iframe>
        </div>
    </div>
    <div class="twitch-chat-container">
        <div class="twitch-chat-responsive">
            <iframe
                frameborder="0"
                scrolling="no"
                id="chat_embed"
                src="https://www.twitch.tv/embed/DoorMonsterTV/chat?parent=www.doormonster.tv"
                height="300"
                width="200">
            </iframe>
        </div>
    </div>
</div>
