<div class="about-container">
  <span class="about-text">
    Welcome to Door Monster TV! Once a simple portfolio for Door Monster Entertainment,
    the site has begun developing into a platform for other creators as well. Taking inspiration from
    our favorite parts of Netflix, Youtube, and Newgrounds, we hope to eventually create a
    place for hard-working, low-budget artists to distribute their work in the way we
    always wished we could. We're still in the early stages of this project, so we would
    love to hear your feedback. If you have any suggestions for new site features or
    improvements, simply login and use the form on your <a routerLink="/account/login">Account Settings</a> page. To suggest
    creators whose work you would like to see on the site, use the form on the <a routerLink="/creators">Creators</a> page.
  </span>
  <h2 class="about-title">The Crew</h2>
  <div class="crew-portraits">
    <div class="crew-portrait">
      <a href="https://doormonster.wiki/wiki/Kyle_Sullivan">
        <img alt="Kyle"
                                                                 border="0"
                                                                 class="crew-photo"
                                                                 src="../../assets/images/about/DMPortrait-Kyle.jpg"/>
        <h2>Kyle C. Sullivan</h2>
        <i>Founder, Thing Doer</i></a>
    </div><!--aboutKyle-->
    <div class="crew-portrait">
      <a href="https://doormonster.wiki/wiki/Ian_Conn">
        <img alt="Ian"
             border="0" class="crew-photo"
             src="../../assets/images/about/DMPortrait-Ian.jpg"/>
        <h2>Ian Conn</h2>
        <i>Writer, Thing Knower</i></a>
    </div><!--aboutIan-->
    <div class="crew-portrait">
      <a href="https://doormonster.wiki/wiki/Jon_Currie">
        <img alt="Jon"
             border="0"
             class="crew-photo" src="../../assets/images/about/DMPortrait-Jon.jpg">
        <h2>Jon Currie</h2>
        <i>Editor, Kerbonaut</i>
      </a>
    </div><!--aboutJon-->
    <div class="crew-portrait">
      <a href="https://doormonster.wiki/wiki/Reid_Sullivan">
        <img alt="Reid" border="0" class="crew-photo" src="../../assets/images/about/DMPortrait-Reid.jpg"/>
        <h2>Reid Sullivan</h2>
        <i>Prop Maker, Costume Filler</i>
      </a>
    </div><!--aboutReid-->
    <div class="crew-portrait">
      <a href="https://doormonster.wiki/wiki/Ricky_Linn">
        <img alt="Ricky" border="0" class="crew-photo" src="../../assets/images/about/DMPortrait-Ricky.jpg"/>
        <h2>Ricky Linn</h2>
        <i>Producer, Idea Guy</i>
      </a>
    </div><!--aboutRicky-->
    <div class="crew-portrait">
      <a href="https://doormonster.wiki/wiki/JP_De_Ovando">
        <img alt="JP" border="0" class="crew-photo" src="../../assets/images/about/DMPortrait-JP.jpg"/>
        <h2>JP De Ovando</h2>
        <i>Composer, Leading Man</i>
      </a>
    </div><!--aboutJP-->
    <div class="crew-portrait">
      <a href="https://doormonster.wiki/wiki/Jefferey_Neely">
        <img alt="Jefferey" border="0" class="crew-photo" src="../../assets/images/about/DMPortrait-Jefferey.jpg"/>
        <h2>Jefferey Neely</h2>
        <i>Acting Guru, Immortal</i>
      </a>
    </div><!--aboutJefferey-->
    <div class="crew-portrait">
      <a href="https://doormonster.wiki/wiki/Ethan_Gelinas">
        <img alt="Ethan" border="0" class="crew-photo" src="../../assets/images/about/DMPortrait-Ethan.jpg"/>
        <h2>Ethan Gelinas</h2>
        <i>Editor, Obscure Reference Manager</i>
      </a>
    </div><!--aboutEthan-->
    <div class="crew-portrait">
      <a href="https://doormonster.wiki/wiki/Rachel_Butcher">
        <img alt="Rachel" border="0" class="crew-photo" src="../../assets/images/about/DMPortrait-Rachel.jpg"/>
        <h2>Rachel Butcher</h2>
        <i>Illustrator, Professional Enthusiast</i>
      </a>
    </div><!--aboutRachel-->
    <div class="crew-portrait">
      <a href="https://doormonster.wiki/wiki/Matt_Locke">
        <img alt="Matt" border="0" class="crew-photo" src="https://s3.amazonaws.com/doormonster/assets/images/about/DMPortrait_Matt.jpg"/>
        <h2>Matt Locke</h2>
        <i>Editor, Matt Locke</i>
      </a>
    </div><!--aboutJoey-->
    <div class="crew-portrait">
      <a href="https://doormonster.wiki/wiki/Allison_Devery">
        <img alt="Allison" border="0" class="crew-photo" src="../../assets/images/about/DMPortrait-Allison.jpg"/>
        <h2>Allison Devery</h2>
        <i>Cinematographer, Color Bender</i>
      </a>
    </div><!--aboutAllison-->
  </div>
  <h2 class="about-title">The Developers</h2>
  <div class="crew-portraits">
    <div class="crew-portrait">
      <img alt="Louis Contant" border="0" class="crew-photo" src="../../assets/images/about/DMPortrait-Louis.jpg"/>
      <h2>Louis Contant</h2>
      <i>Web Developer</i>
    </div>
    <div class="crew-portrait">
      <img alt="Theresa Piersall" border="0" class="crew-photo" src="https://s3.amazonaws.com/doormonster/assets/images/about/DMPortrait-Theresa.jpg"/>
      <h2>Theresa Piersall</h2>
      <i>Web Designer</i>
    </div>
    <div>
      <div class="crew-portrait">
        <img alt="Hugo Bellhumeur" border="0" class="crew-photo" src="https://s3.amazonaws.com/doormonster/assets/images/about/DMProtrait-Hugo.jpg"/>
        <h2>Hugo Belhumeur</h2>
        <i>Mobile Developer</i>
      </div>
  </div>
  </div>
  <h2 class="about-title">The Door Monster Story</h2>
  <span class="about-text">
    Door Monster wasn't always an unknown web-based production studio that laughed in the face of conventional
    filmmaking standards and knowingly bypassed every common tactic for making it big on Youtube - it used to just
    be one guy doing all that. This is their abridged story:
    <h3>2008</h3>
    At the dawn of internet video culture, a young Texan boy named Kyle discovered something that would not age well -
    Flash animations. Struck by inspiration but not by money, he purchased a $45 animation software from Wal-Mart
    and made a 15-minute Star Wars fan fiction called <em>Yoda's Christmas</em>. Realizing he was actually serious about this
    weird video-making thing, Kyle's parents finally got him a copy of Adobe Flash Professional CS3, and the journey
    began...
    <h3>2009-2012</h3>
    Referring to yourself as "White Lightning" is an objectively uncool thing to do. Unfortunately, Young Kyle didn't
    know that, and it's exactly what he did. Under this alias, he worked to become what he admired in other creators
    at the time - he learned web design, started a podcast, created a few halfway-decent animated shorts on Newgrounds
    including the <em>Fable Experience</em> series, and eventually aquired some basic film equipment and began
    producing a handful of comedy sketches with his high school friends. But his efforts would prove to be ill-timed -
    the Newgrounds community was dying out just as Youtube was becoming oversaturated, and White Lightning simply
    wasn't putting out enough content to gain traction. Kyle stopped animating and only produced occasional sketches
    after starting film school at The Art Institute of Austin. White Lightning continued to exist, but
    seemed unlikely to ever become more than a hobby.
    <h3>2013</h3>
    During his senior year at the Art Institute, Kyle was tasked with his final film project. Most students, quite
    reasonably, opted to create artistic short films that took place in a single location and had fewer than five
    characters. The idea was to show off your creativity and knowledge of filmmaking principles to prospective
    employers, and keeping it simple was the name of the game, so Kyle decided to create an hour-long superhero epic
    with a cast of over 40 people. Titled <em>The Guards Themselves</em>, the project earned a whopping $4,430 on
    Kickstarter with the help of the existing White Lightning fan base. With a crew comprised of Kyle's graduating
    class and a cast of future Door Monster members and people they found on the internet, White Lightning wrapped
    production after a year of filming, and Kyle graduated with a half-edited superhero movie in his pocket.
    <h3>2014-2015</h3>
    "You know what sounds cooler than White Lightning? White Lightning HQ. You know, like 'Headquarters?' Shut up, yes it does."
    <br/>
    <br/>
    White Lightning HQ began 2014 with a sad little murmer - Kyle, feeling directionless after graduating college
    without the internet success he had hoped for, got a job. And then nothing much happened, aside from producing a
    few episodes of a short-lived video podcast and getting the
    idea for an ambitious Texas-themed sci-fi series. As the end of another year loomed, Kyle vowed to himself that
    he wouldn't let his internet career go silently into the night - he would produce one video a week for an entire
    year, and if that still didn't work, then at least he would know he had tried. He made plans to start his new
    schedule in January of 2015. With this adventure on the horizon and Halloween around the corner, he decided to take
    a shot in the dark with something casual and unique - he and future DM crew members Reid and Ethan made a
    video in which a monster puppet handed out candy to trick-or-treaters through small holes in the front doors of
    his parents' house.
    <br/>
    <br/>
    On November 2, 2014, <em>Door Monster</em> got 527,912 views on Youtube after being
    <a href="https://www.reddit.com/r/videos/comments/2l2578/buddy_of_mine_had_a_really_unique_idea_for/">posted to Reddit</a>
    by a user named TheForNoReason, a White Lightning HQ fan from the Newgrounds days. The video hit the front page and
    was covered on <a
    href="https://www.inquisitr.com/1580470/door-monster-gives-halloween-treats-tricks-in-most-surprising-way/">multiple blogs</a> and <a
    href="https://www.huffpost.com/entry/door-monster-halloween-video_n_6092288?ir=HuffPost+Home&utm_hp_ref=huffpost-home">news sites</a>.
    Fearing this unexpected momentum might go to waste if he waited until January, Kyle started his new production
    schedule the next day, forever cementing Halloween as the end of a "Door Monster Year."
    <br/>
    <br/>
    The newly official White Lightning HQ crew began producing at least two videos a week, including early installments of
    the <em>Civilization</em> and <em>Kerbal Space Program</em> parody sketch series, introductions to original characters
    such as the Extortionist Hobo and KGB Agents, behind-the-scenes features on some of the year's more vfx-heavy sketches,
    and the <em>Community Comments</em> series, in which different crew members would respond to Youtube comments left on
    videos from the previous week. Using a consumer-grade camcorder that recorded to DV tape and Reddit as the best method
    of promoting their work despite Reddit's strict rules against self-promotion,
    White Lightning HQ managed to grow their subscriber count sixfold over the course of the next year. In August
    of 2015, Kyle had finally had enough of this half-finished movie sitting around, and <em>The Guards Themselves</em>
    was released in four parts over the month of September. The year finally drew to a close with a new camera,
    a convoluted and panderingly meta finale sketch, a sequel to the original <em>Door Monster</em> video, and a
    community contest to find every instance of a creepy CGI rendering of Ian that Kyle had hidden in the past 20 sketches
    or so.
    <h3>2015-2016</h3>
    Their one-year experiment a success, White Lightning HQ decided to shake things up for Year 2. Making one sketch every
    week was hard, they reasoned, and having two weeks would produce a better final product. Not wanting to leave every
    other week empty, they introduced a new spy-themed talk show called <em>Counter/Intelligence</em> to fill the gaps and
    to take the place of <em>Community Comments</em>. In March of 2016, they celebrated <em>10K Week</em>, during which
    they released five detailed behind-the-scenes videos in honor of reaching ten thousand subscribers on Youtube.
    Before long, <em>Counter/Intelligence</em> proved to be uninteresting to watch and unfulfilling to make, and
    they returned to their original weekly release schedule with a live podcast as the new comment response alternative.
    <br/>
    <br/>
    By the end of the summer, White Lightning HQ's release schedule had settled back into place, and Kyle used the
    opportunity to leave his full-time job and pursue indpendant video production work. Shortly after, due to the joint
    success of two random sketches, <em>Civ 5: I'm Not Invading You</em> and <em>The Joy of Tiltbrush</em>, the channel
    shot up in both subscribers and ad revenue, allowing Kyle to devote all his time to video production. Finally
    coming to their senses about their awful moniker and realizing that changing it was only going to get harder as their
    popularity increased, White Lightning HQ became Door Monster Entertainment in honor of the video that started their
    new career.
    <h3>2016-2017</h3>
    The third year of weekly videos brought a mixed bag of highs and lows. The newly rebranded Door Monster started
    Community Comments again and hit fifty thousand Youtube subscribers by the end of 2016. But two disasters struck
    at the same time - first, their fancy new camera broke, and they had to go back to using tape again for a few
    months. Second, they accidentally signed their channel away to a terrible and unethical company called PowerTV.
    One of those was definitely worse than the other, but it was hard to tell which sometimes. After a short struggle,
    Door Monster was able to break away from the company, and vowed to never again sign on with a multi-channel network.
    <br/>
    <br/>
    In early 2017, the primary crew fixed their camera and moved from Austin to San Antonio for more affordable accomodations and
    relaxed film laws. This added some limitations to weekly production, but with two crew members now working on
    the channel full time, Door Monster was still able to experiment and grow. They began live-streaming a custom
    Pathfinder campaign entitled <em>Altered Egos</em>, hosted an education panel at the ComicPalooza convention in Houston,
    and by the middle of summer, had shot all the way up to their first one hundred thousand subscribers. To celebrate,
    they hosted <em>100K Week</em>, which featured the long-awaited <em>Self-Fulfilling Idiocy 3</em> and an announcement
    that <em>The Guards Themselves</em> would one day be returning with a sequel. The year continued with weekly sketches
    and ended with Allison taking over as the company's director of photography, the channel's first meetups hosted in
    Providence, Rhode Island and New York City, and the usual collection of end-of-year videos.
    <h3>2017-2018</h3>
    Having now made weekly comedy sketches for the better part of three years, Door Monster decided again to try a
    bi-weekly release schedule, but this time with a very specific goal - to prepare to create a narrative fantasy
    adventure series called <em>Skyvault</em>. The rest of 2017 and beginning of 2018 were spent on high production
    value sketches, detailed behind-the-scenes videos, and writing season one of the new show. During this period, Kyle and
    Allison also travelled to England to film sketches with fellow Youtubers Squire and Mark Hulmes.
    <br/>
    <br/>
    In March of 2018, Door Monster launched an extremely ambitious Kickstarter campaign to raise $150,000 USD for the
    production of <em>Skyvault</em>. To encourage donations, DM crew took turns hosting fundraiser live streams every day
    for the entire month, involving everything from playing video games to baking the most horrendous cake the world has ever seen.
    On the final day, within the last three hours of the campaign, the goal was reached, and <em>Skyvault</em> was a-go!
    <br/>
    <br/>
    The rest of the year was a blur as <em>Skyvault</em> and the usual Door Monster content became steadily separated. Sketches continued to
    be released every other week, interspersed with behind-the-scenes features, but extra participation in the channel
    declined as the crew dug deeper and deeper into their new series. Eventually, they realized that even with their budget,
    producing an entire series was going to be a challenge on par with making a feature-length superhero film as a school project.
    Teaming up with local Austin production companies Little Fierce Productions and Moth to Flame Films, and with the
    approval of their new executive producers, Door Monster came up with a strategy to pour all of their funding into
    one incredible pilot episode and obtain additional funding through distribution deals. After a strenuous pre-production
    period of six months and a desparate attempt to keep up with the channel's already lowered release schedule
    (including the assumed-dead final installment of the <em>Fable Experience</em> animated series), Door Monster finally
    went into production on its first large-scale industry project.
    <br/>
    <br/>
    Production lasted only seven days, and though it left the crew temporarily exhausted and cinical, it succeeded. The pilot
    entered post-production, and Door Monster ended its fourth year by celebrating a quarter million Youtube subscribers.
    <h3>2018-2019</h3>
    Where we go next is uncertain. The <em>Skyvault</em> pilot is nearing completion, and we've returned to the good old days of
    weekly video uploads. This year, we plan to also introduce regularly scheduled podcasts and new episodes of <em>Altered Egos</em>.
    We anticipate a lot of travel as we submit our pilot to film festivals and try to get it picked up by a distributor, and we
    plan to enter production, much more casually, on the sequel to <em>The Guards Themselves</em>. Finally, we'll be working
    to turn this site into a new platform for people who, like when we first started, have a great love for visual storytelling but lack
    the funding and connections to bring their work to an audience. Here's to 2019!
  </span>
</div>
