.about-container {
    margin: 1em;
    display: grid;
    grid-row-gap: 1em;
}

.about-text {
    text-align: justify;
}

.about-title {
    text-align: left;
}

.crew-portraits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}
    .crew-portrait {
        display: grid;
        grid-template-rows: min-content min-content 1fr;
        grid-row-gap: 0.5em;
        border: 1px solid #ccc;
        padding: 0 0 0.5em 0;
    }
    .crew-portrait h2 {
        font-size: 100%;
    }

.crew-photo {
    width: 100%;
}


@media only screen and (min-width: 600px) {

    .about-container {
        margin: 2em;
    }

    .crew-portraits {
        grid-template-columns: repeat(3, 1fr);
    }
        .crew-portrait {
            display: grid;
            grid-row-gap: 0.5em;
            padding: 0 0 1em 0;
        }
        .crew-portrait h2, .crew-portrait i {
            margin: 0 0.5em;
        }
            .crew-portrait h2 {
                font-size: 130%;
            }

}

@media only screen and (min-width: 1200px) {

    .crew-portraits {
        grid-template-columns: repeat(5, 1fr);
    }

}

@media only screen and (min-width: 1800px) {

    .crew-portraits {
        grid-template-columns: repeat(7, 1fr);
    }

}